# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
* python 
* R
* java
* SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
2. Plotly
3. NumPy 
4. SciPy

|Data Science Tools|
|---|
|Apache Superset|
|Metabase|
|PyPandas|

### Below are a few examples of evaluating arithmetic expressions in Python

In [97]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [104]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

### **Objectives**
- list data science libraries
- Create a code cell to multiply and add numbers
- List popular languages for Data Science.
- Create markdown cell with title of the notebook
- Create a markdown cell with a table of Data Science tools

## Author
Necmettin Berk Yetisken